
/* HEADER */
.header {
   display: grid;
   grid-template-columns: 1fr min-content 1fr;
   grid-template-rows: auto;
   margin: 92px 49px 92px 51px;
   align-items: center;
   width: 1340px;
   height: 109px;
   
      
}

.header__logo {
    display: block;
    margin: 0 auto;

}

.header__logo-image {
    width: 148px;
    height: 105px;
    padding: 0 auto 4px;
    
}
.header__menu {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-underline-offset: 4px;
    text-decoration-style: solid;
    text-decoration-thickness: .5px;
    
    

    

    
}

.header__menu-list {
    list-style: circle;
    margin-right: 32px;
    
}

.header__menu-item_no-bullet {
    list-style: none;
    margin-left: 0;
}

.header__menu-item-active {
    
}

.header__link {

}

/* header address*/

.address {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    text-align: start;
    margin-left: 355px;
    text-underline-offset: 4px;
    text-decoration-style: solid;
    text-decoration-thickness: .5px;
}

.header__address {
    display: block;
}

/* COVER */

.cover {
    display: block;
    width: 1440px;
    height: 757px;
    background-image: url(../images/cover.jpg);
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 0;
    

}

.cover__title {
    padding: 165px 50px 135px 50px;
    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 30px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    
}

.span-block {
    display: block;
    
}

.span-block-spacing {
    letter-spacing: 60px;
}

.span-left {
    line-height: 115px;
}

.span-center {
    text-align: center;
    line-height: 100px;
    margin: 20px auto;
}

.span-right {
    text-align: right;
    line-height: 100px;
    margin-right: 0;
}

.span-right-no-spacing {
    letter-spacing: 0px;
}

.span-right-extra-spacing {
    letter-spacing: 30px;
}



/* overlay */

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0);
    position: absolute;
    opacity: .6;
    z-index: 1;
   
}

/* cover_discription */

.cover__description {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-bottom: 50px;
    margin-right: 50px;
    position: relative;
    z-index: 2;
}

.cover__description-text {
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px; 
    text-transform: uppercase;
    word-spacing: 0.82em;
    
    
}

.bet__button {
    background-color: transparent;
    border: 1px solid #FFF;
    padding: 12px 32px;
    margin-left: 78px;
  
}
  
.bet__button-link {
    color: #FFF;
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;

}