.content-section {
                
    }

/* HEADER */
.header {
   display: grid;
   grid-template-columns: 1fr min-content 1fr;
   grid-template-rows: auto;
   margin: 92px 49px 92px 51px;
   align-items: center;
   
   width: 1340px;
   height: 109px;
   
      /* не забыть убрать backgr*/
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
    margin: 0 auto;
    

}

.header__logo-image {
    max-width: 100%;
}
.header__menu {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-underline-offset: 4px;
    text-decoration-style: solid;
    text-decoration-thickness: .5px;
    
    

    

    
}

.header__menu-list {
    list-style: circle;
    margin-right: 32px;
    
}

.header__menu-item_no-bullet {
    list-style: none;
    margin-left: 0;
}

.header__menu-item-active {
    
}

.header__link {

}

/* header address*/

.address {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    text-align: start;
    margin-left: 355px;
    text-underline-offset: 4px;
    text-decoration-style: solid;
    text-decoration-thickness: .5px;
}

.header__address {
    display: block;
}

/* COVER */

.cover {
    width: 1440px;
    height: 757px;
    background-image: url(../images/cover.jpg);
    box-sizing: border-box;
    background-size: 1440px 757px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;

}

.cover__title {
    padding: 165px 50px 237px 50px;
    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    
}

.span-block {
    display: block;
    
}

.span-block-spacing {
    letter-spacing: 60px;
}

.span-centre {
    text-align: center;
}

.span-right {
    text-align: right;
}

/* overlay */

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / .5 );
    position: relative;
    z-index: 1;
   

}